[Unit]
Description=Stuff that should be started after wm
After=wm.target
Wants=wm.target before-wm.target prepare.target
AllowIsolate=yes

[Install]
Alias=default.target
