[Unit]
Description=urxvtd
Before=wm.target
After=before-wm.target

[Service]
.include ../config/XAppEnv
ExecStart=/usr/bin/conky

[Install]
WantedBy=wm.target
