[Unit]
Description=Execute DesktopEntry files for given desktop environment
Before=after-wm.target
After=wm.target

[Service]
Type=oneshot
.include ../config/XAppEnv
ExecStart=/usr/bin/dex -a -e %I
RemainAfterExit=true

[Install]
Alias=dex@Gnome.service
WantedBy=after-wm.target
