[Unit]
Description=Gnome Screensaver
Before=after-wm.target
After=wm.target

[Service]
StandardError=inherit
ExecStart=/usr/bin/gnome-screensaver

[Install]
WantedBy=after-wm.target
