[Unit]
Description=i3 window manager
After=before-wm.target
Before=wm.target

[Service]
.include ../config/XAppEnv
ExecStart=/usr/bin/i3

[Install]
WantedBy=wm.target
