[Unit]
Description=KDE init 4
Before=wm.target
After=before-wm.target

[Service]
.include ../config/XAppEnv
ExecStart=/usr/bin/kdeinit4 --no-fork

[Install]
WantedBy=wm.target
