[Unit]
Description=Music player daemon
Before=before-wm.target

[Service]
ExecStartPre=/bin/mkdir -p /run/user/%U/mpd
ExecStart=/usr/bin/mpd --no-daemon --stdout %h/.mpd/mpd.conf

[Install]
WantedBy=before-wm.target
