[Unit]
Description=Music player daemon
Before=before-wm.target

[Service]
ExecStart=/usr/bin/mpd --no-daemon --stdout

[Install]
WantedBy=before-wm.target
