[Unit]
Description=Pidgin
Before=after-wm.target
After=wm.target

[Service]
.include ../config/XAppEnv
ExecStart=/usr/bin/pidgin

[Install]
WantedBy=after-wm.target
