[Unit]
Description=Xrdb
Before=wm.target
After=before-wm.target

[Service]
Type=oneshot
ExecStart=/bin/sh %h/.config/systemd/script/xconfig.sh

[Install]
WantedBy=wm.target
