**
!.gitignore
!.gitmodules

!.config
!.config/nvim
!.config/awesome

!.emacs.d

!.mpd
!.mpd/mpd.conf

!.terminfo
!.terminfo/**

!.utils
!.utils/**

!README.md
!.zshrc
!.xinitrc
!.zshkeybinding
!.Xresources
