[submodule ".config/awesome"]
	path = .config/awesome
	url = https://github.com/yshui/atomi
[submodule ".config/nvim/dein/repos/github.com/Shougo/dein.vim"]
	path = .config/nvim/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule ".config/prezto"]
	path = .config/prezto
	url = https://github.com/sorin-ionescu/prezto.git
