/*
!.gitignore
!.gitmodules

!/.config
!/.config/nvim
/.config/nvim/dein
!/.config/mpv
/.config/mpv/watch_later
!/.config/awesome
!/.zprezto-contrib
!/.zpreztorc

!/.emacs.d

!/.mpd
!/.mpd/mpd.conf

!/.terminfo
!/.terminfo/**

!/.utils
!/.utils/**

!/README.md
!/.zshrc
!/.xinitrc
!/.zshkeybinding
!/.Xresources
