!Xcursor.theme:	Obsidian
!! RXVT-unicode setting
URxvt.depth:		32
URxvt.buffered:         true
!URxvt.depth:            24
!URxvt.background:       rgba:0Af0/0Af0/0Af0/dddd
!URxvt.foreground:       white
URxvt.geometry:		100x50
!URxvt.background:	grey20
!URxvt.background:	rgba:0000/0000/0000/0000
!urxvt*depth:32
urxvt*background:rgba:0000/0000/0000/7777
!urxvt*background:rgb:2000/2000/2000
URxvt.foreground:	white
!urxvt.foreground:rgb:ffff/ffff/ffff
URxvt.scrollBar:	true
URxvt.scrollstyle:	plain
URxvt.loginSheel:	True
! Use shift+pageup/down to scroll in screen
URxvt.secondaryScroll:	True
!URxvt.transparent:	true
!URxvt.tintColor:	white
!URxvt.shading:		50
URxvt.fading: 		30
URxvt.scrollTtyOutput: 	false
URxvt.scrollTtyKeypress:True
URxvt.saveLines:	20000
URxvt.preeditType:	Root
URxvt.borderLess:	false
URxvt.title:		urxvt
URxvt.boldFont:		xft:Dina-16:bold,xft:WenQuanYi Bitmap Song-16:bold
URxvt.font:		xft:Dina-16:medium,xft:WenQuanYi Bitmap Song-16:medium
URxvt.color0:		grey20
URxvt.urgentOnBell:  	true
URxvt.backspaceKey: 	Backspace
!URxvt.perl-ext-common:	default,tabbed
Xft.antialias:1
Xft.hinting:1
Xft.hintstyle:hintfull
Xft.rgba:rgba
Xft.autohint:   0
Xft.dpi:        96
Xft.lcdfilter:  lcddefault
XTerm*faceName:monospace
Emacs.Font:monospace 11
Emacs*useXIM: false
!Xcursor.theme:Vanilla-DMZ
Xcursor.theme:Neutral
URxvt*perl-ext: default,matcher
URxvt.keysym.M-u:    perl:url-select:select_next
URxvt.underlineURLs: true
URxvt*urlLauncher:opera
URxvt.colorUL: #f0f010
URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    3
URxvt.tabbed.tab-bg:    0
URxvt.imLocale: zh_CN.utf8
URxvt.inputMethod: fcitx
xterm*eightBitInput: false
xterm*bellIsUrgent: true
xterm*scrollTtyOutput: 	false
xterm*scrollKey:True
xterm*borderWidth: 0
xterm*backarrowKey: true
XTerm*font: Dina
*newLoginCommand: dm-tool switch-to-greeter
